{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Laisser un avis | {{ parent() }}
{% endblock %}

{% block navtab_top %}   
{% endblock %}

{% block cvplatform_body %}
    <div class="panel panel-default">
        <div class="cv panel-heading">Laisser un avis à {{ rating.relatedUser }}</div>
        <div class="panel-body">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_label(form.evaluation, "Evaluation", {'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">{{ form_widget(form.evaluation, {'attr': {'class': 'form-control', 'value': 4, 'style': 'display: none'}}) }}    
                            <div id="stars-existing" class="starrr" data-rating='4'></div>    
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-md-2 control-label'}}) }}
                        <div class="col-md-10">{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}</div>
                    </div>
                    {{ form_widget(form.publier, {'attr': {'class': 'cv-btn-secondary pull-right'}}) }}
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@CVPlatformBundle/Resources/public/js/rating.js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}