{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Laisser un avis - {{ parent() }}
{% endblock %}

{% block menu_lateral %}  
    {{ include("CVPlatformBundle:Rating:menu.html.twig") }}  
{% endblock %}

{% block cvplatform_body %}
    <h2>Laisser un avis</h2>
        <div class="well well-sm">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                <fieldset>
                    <legend class="text-center">Laisser un avis à {{ reservation.ride.user }}</legend>
                    <div class="form-group">
                        {{ form_label(form.evaluation, "Evaluer ce covoiturage", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
<!--                             {{ form_errors(form.evaluation) }}
-->                            <div class="col-md-9">{{ form_widget(form.evaluation, {'attr': {'class': 'form-control'}}) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
<!--                             {{ form_errors(form.description) }}
-->
                        <div class="col-md-9">{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}</div>
                    </div>

                    {{ form_widget(form.publier, {'attr': {'class': 'btn btn-primary'}}) }}
                </fieldset>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

<!-- 	<div class="container">
	    <div class="row lead">
	        <div id="stars-existing" class="starrr" data-rating='4'></div>
	        <span id="count-existing">4</span>
	    </div>
	</div> -->

    {% javascripts 
    	'js/jquery.js' 
    	'@CVPlatformBundle/Resources/public/js/rating.js'%}
   		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}