{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Avis laissés | {{ parent() }}
{% endblock %}

{% block cvplatform_body %}
    {{ include("CVPlatformBundle:Rating:menu.html.twig") }}

    {% if listRatingsSended|length == 0 %}
        <p>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-info">{{ message }}</p> 
            {% endfor %}
        </p>
    {% else %}
        {{ listRatingsSended|length }} avis laissés 
        <div class="container list-messages">
            {% for ratingSended in listRatingsSended %}
                <div class="row">
                    <div class="col-md-1">
                        <a href="{{ path('cv_profile_view', {'id': ratingSended.relateduser.id }) }}">
                            {{ render(controller('CVProfileBundle:Profile:picture', {'thumb': 'my_picture_navbartop_small', 'user': ratingSended.relateduser})) }} 
                        </a>
                    </div>
                    <div class="col-md-2 username-message">
                        {{ ratingSended.relateduser.getProfile().getFirstname() }} {{ ratingSended.relateduser.getProfile().getName()[:1] }}
                    </div>
                    <div class="col-md-8 content-message">
                        {% if ratingSended.evaluation == 1 %}
                            <div class="evaluation-label rating-grade--0">A éviter</div>
                        {% elseif ratingSended.evaluation == 2 %}
                            <div class="evaluation-label rating-grade--1">Décevant</div>
                        {% elseif ratingSended.evaluation == 3 %}
                            <div class="evaluation-label rating-grade--2">Bien</div>
                        {% elseif ratingSended.evaluation == 4 %}
                            <div class="evaluation-label rating-grade--3">Excellent</div>
                        {% else %}
                            <div class="evaluation-label rating-grade--4">Extraordinaire</div>
                        {% endif %}
                        {{ ratingSended.description }}
                    </div>
                    <div class="cold-md-1 date-message">
                        {{ ratingSended.date|date('d/m/Y') }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}