{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}CV Plateforme{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets 'css/nav_account_manager.css' %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

    <style>
        .badge-notify{
            background:red;
            position:relative;
            top: -53px;
            left: 24px;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('cv_platform_home') }}">Covoiturage</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-4">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li>
                            <a href=" {{ path('cv_platform_my_notifications') }}" class="btn btn-default btn-lg btn-link" style="font-size:20px;"><span class="glyphicon glyphicon-bell"></span></a>

                            {% if app.session.get('numberNotify') != 0 %}
                                <span id="numberNotify" class="badge badge-notify">{{ app.session.get('numberNotify')}}</span>
                            {% endif %}
                        </li>
                        <li><a href="{{ path('cv_platform_my_reservations') }}">Réservations</a> </li>
                        <li><a href="{{ path('cv_platform_messages_received') }}"> Messages</a> </li>
                    {% endif %}
                    <li><a href="{{ path('cv_platform_search_rides') }}"> Annonces</a> </li>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% else %}
                        <li><a href="{{ path('fos_user_registration_register') }}">S'inscire</a> </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} 
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Compte<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-content">
                                        <div class="row">
                                            <div class="col-md-5">
                                             {% block profile_picture %}   
                                            {{ render(controller('CVProfileBundle:Profile:picture')) }} 
                                             {% endblock %}   
                                                <p class="text-center small"><a href="#">Changer la photo</a></p>
                                            </div>
                                            <div class="col-md-7">
                                                <span>{{app.user.username}}</span>
                                                <p class="text-muted small">{{app.user.email}}</p>
                                                <div class="divider"></div>
                                                <a href="{{ path('cv_profile_edit') }}" class="btn btn-primary btn-sm active">Voir profil</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navbar-footer">
                                        <div class="navbar-footer-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                   <a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-sm">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a>
                                                </div>
                                                <div class="col-md-6">
                                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-sm pull-right">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>           
            </div>
        </nav>
      
        <div class="row">
            <div id="menu" class="col-md-3">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% block menu_lateral %}    
                    {% endblock %}    
    
                {% elseif app.request.attributes.get('_route') != 'fos_user_security_login' %}
                    <h3>Identification</h3>
                    {{ render(controller('CVUserBundle:Security:login')) }}
                {% endif %}
            </div>  
               
            <div id="content" class="col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        <hr>

        <footer>
            <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
        </footer>
    </div>
    {% block javascripts %}
        {% javascripts 'js/jquery.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
