{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}CV Plateforme{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
    {% stylesheets 'css/nav_account_manager.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>

<body>
    <div class="container">
        <div class="container">
             <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('cv_platform_home') }}">Covoiturage</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-4">
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li><a href="{{ path('cv_platform_my_reservations') }}">Réservation</a> </li>
                            {% endif %}

                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Messages <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('cv_platform_messages_received') }}">Messages reçus</a> </li>
                                        <li><a href="{{ path('cv_platform_messages_sended') }}">Messages laissés</a> </li>
                                    </ul>
                                </li>
                            {% endif %}

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Annonce <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('cv_platform_search_rides') }}">Rechercher des annonces</a></li>
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} 
                                            <li><a href="{{ path('cv_platform_add') }}">Ajouter une annonce</a> </li>
                                            <li><a href="{{ path('cv_platform_my_rides') }}">Mes annonces</a> </li>
                                        {% endif %}
                                    </ul>
                                </li>

                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            {% else %}
                                <li><a href="{{ path('fos_user_registration_register') }}">S'inscire</a> </li>
                            {% endif %}

                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} 
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Compte<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="navbar-content">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <img src="http://placehold.it/120x120"
                                                            alt="Alternate Text" class="img-responsive" />
                                                        <p class="text-center small"><a href="#">Changer la photo</a></p>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span>{{app.user.username}}</span>
                                                        <p class="text-muted small">{{app.user.email}}</p>
                                                        <div class="divider"></div>
                                                        <a href="{{ path('cv_profile_edit') }}" class="btn btn-primary btn-sm active">Voir profil</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="navbar-footer">
                                                <div class="navbar-footer-content">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a href="#" class="btn btn-default btn-sm">Changer le mot de passe</a>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-sm pull-right">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>           
                    </div>
                </div>
            </nav>
        </div>
    
        <div class="row">
            <div id="menu" class="col-md-3">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% block menu_lateral %}    
                    {% endblock %}    
            </div>
        </div>
                {% elseif app.request.attributes.get('_route') != 'fos_user_security_login' %}
                    <h3>Identification</h3>
                    {{ render(controller('CVUserBundle:Security:login')) }}
                {% endif %}
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>

    {% block javascripts %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}

</body>
</html>