<div class="container">
    <div class="row"><div class="col-md-3">Conducteur : </div><div class="col-md-3"><a href="{{ path('cv_profile_view', {'id': ride.user.id   }) }}"></i>{{ride.user}}</a></div></div>

    <div class="row"><div class="col-md-3">Lieu de départ : </div><div class="col-md-3">{{ride.departure}}</div></div>
    <div class="row"><div class="col-md-3">Lieu d'arrivé : </div><div class="col-md-3">{{ride.arrival}}</div></div>
    <div class="row"><div class="col-md-3">Date et heure de départ : </div><div class="col-md-3">{{ride.departureDate|date}}</div></div>
    <div class="row"><div class="col-md-3">Prix : </div><div class="col-md-3">{{ride.price}}  </div></div>
    <div class="row"><div class="col-md-3">Nombre de passager : </div><div class="col-md-3">{{ride.numberPassenger}}</div></div>
    <div class="row"><div class="col-md-3">Offre publiée le : </div><div class="col-md-3">{{ride.offerPublished|date}}</div></div>
    <div class="row"><div class="col-md-3">Détails du voyage : </div><div class="col-md-3">{{ride.details}}</div></div>
</div>
