{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
Réserver - {{ parent() }}
{% endblock %}

{% block cvplatform_body %}
<h2>Liste des annonces</h2>


{% if listRides|length == 0 %}
<p>
    {% for message in app.session.flashbag.get('info') %}

    <p class="alert alert-info">{{ message }}</p> 
    {% endfor %}
</p>

{% else %}

{% for ride in listRides %}

    <table class="table table-hover" style="background-color:#F0F0F0;border:1px solid black" onclick="document.location.href='{{ path('cv_platform_reservation_ride', {'id': ride.id   }) }}'" style="cursor:pointer">
        <tbody>
            <tr>
                <td class="col-md-2">
                    <figure class="thumbnail">
                        {{ render(controller('CVPlatformBundle:Rating:picture', {'thumb': 'picture_rating_dialog_medium', 'user': ride.user})) }} 
                        <div class="media-body">
                            <h4 class="media-heading text-center">{{ ride.user }}</h4>
                        </div>
                    </figure>
                </td>
                <td class="col-sm-1 col-md-6 text-center"><strong>{{ ride.departure }} --> {{ ride.arrival }} <br>


                    le  {{ ride.departureDate|localizeddate('medium', 'none', 'fr') }}
                    à {{ ride.departureDate|localizeddate('none', 'medium', 'fr') }}</strong></td>
                <td class="col-sm-1 col-md-3 text-center"><strong>{{ ride.price }}€ <br> par place
                    <br><br>                                         {{ render(controller('CVPlatformBundle:Ride:numberOfRemainingSpace', {'ride': ride})) }} places restantes</strong></td>
            </tr>
        </tbody>
    </table>
{% endfor %}


<ul class="pagination">
    {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
    <a href="{{ path('cv_platform_my_rides', {'page': p}) }}">{{ p }}</a>
</li>
{% endfor %}
</ul>

{% endif %}
{% endblock %}

