
            <div class="well well-sm">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <fieldset>
                        <legend class="text-center">Mon annonce</legend>
                        <div class="form-group">
                            {{ form_label(form.departure, "Lieu de départ", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.departure) }}
                            <div class="col-md-9">{{ form_widget(form.departure, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.arrival, "Lieu d'arrivé", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.arrival) }}

                            <div class="col-md-9">{{ form_widget(form.arrival, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.departureDate, "Date du départ", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.departureDate) }}

                            <div class="col-md-9">{{ form_widget(form.departureDate, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>
    
                        <div class="form-group">
                            {{ form_label(form.price, "Prix du voyage", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.price) }}

                            <div class="col-md-9">{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.numberPassenger, "Nombre de passagers", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.numberPassenger) }}

                            <div class="col-md-9">{{ form_widget(form.numberPassenger, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.details, "Description du voyage", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.details) }}

                            <div class="col-md-9">{{ form_widget(form.details, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>
    
                        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
                    </fieldset>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
