{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}


{% block cvplatform_body %}
    <link rel="stylesheet" href="http://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.css">
    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
      {% endfor %}
    </p>

 <i>Annonce créé le {{ form.vars.value.offerPublished|date('d/m/Y') }}</i>

<div class="container">
  <div class="row">
      <div class="col-md-6">
        <div class="well well-sm">
 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
          <fieldset>
            <legend class="text-center">Mon annonce</legend>


    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.departure, "Lieu de départ", {'label_attr': {'class': 'col-md-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.departure) }}

      <div class="col-md-9">
        {# Génération de l'input. #}
        {{ form_widget(form.departure, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.arrival, "Lieu d'arrivé", {'label_attr': {'class': 'col-md-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.arrival) }}

      <div class="col-md-9">
        {# Génération de l'input. #}
        {{ form_widget(form.arrival, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.departureDate, "Date du départ", {'label_attr': {'class': 'col-md-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.departureDate) }}

      <div class="col-md-9">
        {# Génération de l'input. #}
        {{ form_widget(form.departureDate) }}
      </div>
    </div>
    
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.price, "Prix du voyage", {'label_attr': {'class': 'col-md-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.price) }}

      <div class="col-md-9">
        {# Génération de l'input. #}
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.numberPassenger, "Nombre de passagers", {'label_attr': {'class': 'col-md-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.numberPassenger) }}

      <div class="col-md-9">
        {# Génération de l'input. #}
        {{ form_widget(form.numberPassenger, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

        <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.details, "Description du voyage", {'label_attr': {'class': 'col-md-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.details) }}

      <div class="col-md-9">
        {# Génération de l'input. #}
        {{ form_widget(form.details, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

          </fieldset>


  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
        </div>
      </div>
  </div>
</div>


  <p>
    <a href="{{ path('cv_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('cv_platform_edit', {'id': form.vars.value.id }) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <button class="btn btn-lg btn-danger sweet-14" onclick="_gaq.push(['_trackEvent', 'example, 'try', 'Danger']);"><i class="glyphicon glyphicon-trash"></i> Supprimer l'annonce</button>
  </p>
  </div>

    {% javascripts 'js/jquery.js' %}
        <script src="http://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.js"></script>
        <script type="text/javascript" src="{{ asset_url }}"></script>

        <script> // Boite de confirmation
            document.querySelector('.sweet-14').onclick = function(){
                swal({
                      title: "Êtes vous sure de vouloir supprimer ?",
                    text: "Vous ne pourrez plus récupérer l'annonce",
                    type: "error",
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger',
                    cancelButtonText: 'non',
                    confirmButtonText: 'Oui'
                },
                function(isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: "{{ path('cv_platform_delete', {'id':  form.vars.value.id }) }}",
                        }); 
                    } else {
                    
                    }
                });
            };

        </script>
    {% endjavascripts %}
{% endblock %}
