{# src/CV/PlatformBundle/Resources/view/Ride/view.html.twig #}

{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block cvplatform_body %}
    {% stylesheets '@CVPlatformBundle/Resources/public/css/accordeon.css' %}
        <link rel="stylesheet" href="http://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <p>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('confirm-reservation-ride') %}
        <p>{{ message }}</p>
      {% endfor %}
    </p>

<div class="well">
    <p>
        <div class="container">
            <div class="row">
              <div class="col-md-3">Conducteur : </div><div class="col-md-3">{{ride.user}} </div>
            </div>
            <div class="row">
                <div class="col-md-3">Lieu de départ : </div><div class="col-md-3">{{ride.departure}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Lieu d'arrivé : </div><div class="col-md-3">{{ride.arrival}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Date et heure de départ : </div><div class="col-md-3">{{ride.departureDate|date}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Prix : </div><div class="col-md-3">{{ride.price}}  </div>
            </div>
            <div class="row">
                <div class="col-md-3">Nombre de passager : </div><div class="col-md-3">{{ride.numberPassenger}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Offre publiée le : </div><div class="col-md-3">{{ride.offerPublished|date}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Détails du voyage : </div><div class="col-md-3">{{ride.details}}</div>
            </div>
        </div>
    </p></br>
    <p>
        <a href="{{ path('cv_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('cv_platform_confirm_reservation_ride', {'id': ride.id }) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-hand-up"></i>
            Réserver
        </a>
        <button class="btn btn-lg btn-warning sweet-13" onclick="_gaq.push(['_trackEvent', 'example, 'try', 'Warning']);">Réserver</button>
    </p>
</div>

<!-- Emplacement de l'afficheur -->
<div class="well">
    <ol id="messages" class="messages">
        {% for publicMessage in listPublicMessagesOfRide %}
            {% include 'CVPlatformBundle:Ride:public-message.html.twig' with {'publicMessage': publicMessage} %}
        {% endfor %}
    </ol>

    <p class="boutons">
      <a href="#" class="voir_tous">Tous les messages ({{ listPublicMessagesOfRide|length }})</a> 
      <a href="#" class="voir_recent">5 seulement</a>
      <a href="#" class="replier_tous">Tout replier</a>
    </p>
    <div class="well">
        <textarea id="contentT" rows="5" cols="111" placeholder="Posez vos questions ou réponses ici."></textarea><br/>
        <div align="right"><button id="publish" class="btn btn-primary" type="button" >Publier</button></div>
    </div>
</div>
    {% javascripts 'js/jquery.js' %}
        <script src="http://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.js"></script>
        <script type="text/javascript" src="{{ asset_url }}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $(".messages .corps:gt(0)").hide();
                $(".messages li:gt(4)").hide();
                $(".entete").click(function(){
                    $(this).next(".corps").slideToggle(500)
                    return false;
                });
                $(".replier_tous").click(function(){
                    $(".corps").slideUp(500)
                    return false;
                });
                $(".voir_tous").click(function(){
                    $(this).hide()
                    $(".voir_recent").show()
                    $(".messages li:gt(4)").slideDown()
                    return false;
                });
                $(".voir_recent").click(function(){
                    $(this).hide()
                    $(".voir_tous").show()
                    $(".messages li:gt(4)").slideUp()
                    return false;
                });
            });

            $("#publish").on("click", addPublicMessage);
            function addPublicMessage(){
                var content = 'content='+document.getElementById('contentT').value;
                $.ajax({
                    url: "{{ path('cv_platform_add_public_message', {'ride': ride.id}) }}",
                    data: content,
                    success: addingPublicMessage
                }); 
            }
            function addingPublicMessage(data) {
                $("#messages").append(data);
                document.getElementById('contentT').value="";
            }
        </script>
        <script>
            document.querySelector('.sweet-13').onclick = function(){
                swal({
                    title: "Êtes vous sure de vouloir réserver cette annonce ?",
                    text: "Vous serez débité 2 jours après le voyage",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonText: "Oui",
                    cancelButtonText: "Non",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(isConfirm) {
                    if (isConfirm) {
                        swal({
                            title: "Votre réservation a bien été enregistrée",
                            text: "Veuillez donner le code que nous vous avons envoyé au conducteur à la fin de votre voyage",
                            type: "success",
                            confirmButtonClass: "btn-success",
                            confirmButtonText: "Ok",
                            closeOnConfirm: true,
                        });
                    } else {
                        swal({
                            title: "Annulation",
                            text: "Vous ne serez pas débité",
                            type: "error",
                            confirmButtonClass: "btn-danger",
                            confirmButtonText: "Ok",
                            closeOnConfirm: true,
                        });
                    }
                });
            };
        </script>
    {% endjavascripts %}
{% endblock %}