{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Trajets publiés | {{ parent() }}
{% endblock %}

{% block cvplatform_body %}
    {{ include("CVPlatformBundle:Ride:menu.html.twig") }}  
    <p>
        {% for message in app.session.flashbag.get('notice') %}
            <p class="alert alert-success">{{ message }}</p> 
        {% endfor %}
    </p>

    {% if listUpcomingRides|length == 0 %}
        <p>
            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-info">{{ message }}</p> 
            {% endfor %}
        </p>
    {% else %}
        <p>Voici vos annonces de trajets à venir.</p>
        <div id="my-trips">
            {% for upcomingRide in listUpcomingRides %}
                <div class="trip">
                    <div class="row">
                        <div class="itineraire col-md-12">
                            {{ upcomingRide.departure }} → {{ upcomingRide.arrival }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{ upcomingRide.departureDate|localizeddate('medium', 'none', 'fr') }}
                            à {{ upcomingRide.departureDate|localizeddate('none', 'medium', 'fr') }}
                        </div>
                        <div class="col-md-2">
                            <span class="space-black">{{ render(controller('CVPlatformBundle:Ride:numberOfRemainingSpace', {'ride': upcomingRide})) }}</span> place(s) restante(s)
                        </div>
                        <div class="col-md-2">
                            <span class="price-black">{{ upcomingRide.price }}€</span> par passager
                        </div>
                        <div class="date-offer-published col-md-12">Annonce créé le {{ upcomingRide.offerPublished|date('d/m/Y à H:i:s') }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <i class="cv fa fa-eye" aria-hidden="true"></i> <a href="{{ path('cv_platform_view', {'id': upcomingRide.id   }) }}" class="cv">Voir l'annonce</a>
                        </div>
                        <div class="col-md-2">
                            <i class="cv fa fa-pencil-square-o" aria-hidden="true"></i> <a href="{{ path('cv_platform_edit', {'id': upcomingRide.id }) }}" class="cv">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <ul class="pagination">
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="active"{% endif %}><a href="{{ path('cv_platform_upcoming_rides', {'page': p}) }}">{{ p }}</a></li>
            {% endfor %}
        </ul>
        
    {% endif %}
{% endblock %}