{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Vos préférences | {{ parent() }}
{% endblock %}

{% block cvplatform_body %}
    <p>
        {% for message in app.session.flashbag.get('notice') %}
            <p class="alert alert-success">{{ message }}</p> 
        {% endfor %}
    </p>

    <div class="container">
        <div class="nav">
            <a href="{{ path('cv_platform_dashboard') }}" class="cv">← Retour au tableau de bord</a>
        </div>

        <div class="panel panel-default">
            <div class="cv panel-heading">Préférences</div>
            <div class="panel-body">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <h3>Discussion</h3>
                    <p>
                        <span class="blabla prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
                        {{ form_widget(form.discussion[0]) }}
                        {{ form_label(form.discussion[0]) }}
                    </p>
                    <p>
                        <span class="blablabla prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
                        {{ form_widget(form.discussion[1]) }}
                        {{ form_label(form.discussion[1]) }}
                    </p>

                    <h3>Musique</h3>
                    <p>
                        <span class="no-music prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
                        {{ form_widget(form.music[0]) }}
                        {{ form_label(form.music[0]) }}
                    </p>
                    <p>
                        <span class="music prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
                        {{ form_widget(form.music[1]) }}
                        {{ form_label(form.music[1]) }}
                    </p>

                    <h3>Cigarette</h3>
                    <p>
                        <span class="no-smoking prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
                        {{ form_widget(form.cigarette[0]) }}
                        {{ form_label(form.cigarette[0]) }}
                    </p>
                    <p>
                        <span class="smoking prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
                        {{ form_widget(form.cigarette[1]) }}
                        {{ form_label(form.cigarette[1]) }}
                    </p>

                    <h3>Animal</h3>
                    <p>
                        <span class="no-pet prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
                        {{ form_widget(form.animal[0]) }}
                        {{ form_label(form.animal[0]) }}
                    </p>
                    <p>
                        <span class="pet prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
                        {{ form_widget(form.animal[1]) }}
                        {{ form_label(form.animal[1]) }}
                    </p>

                    {{ form_widget(form.enregistrer, {'attr': {'class': 'cv-btn-primary'}}) }}
                    {{ form_rest(form) }}
          
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}