{% extends "CVAdminBundle::layout.html.twig" %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>
        <div class="row">
            {{ include("CVAdminBundle:Dashboard:panels.html.twig") }}  
        </div>
        <div class="row">
            <div class="col-lg-8">
                {{ include("CVAdminBundle:Charts:area.html.twig") }}  
                {{ include("CVAdminBundle:Charts:bar.html.twig") }}  
            </div>
            <div class="col-lg-4">
                {{ include("CVAdminBundle:Components:notifications.html.twig") }}  
                {{ include("CVAdminBundle:Charts:donut.html.twig") }}  
                {{ include("CVAdminBundle:Components:chat.html.twig") }}  
            </div>
        </div>
    </div>
{% endblock %}


