{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes messages - {{ parent() }}
{% endblock %}

{% block menu_lateral %}  
    {{ include("CVPlatformBundle:PublicMessage:menu.html.twig") }}  
{% endblock %}

{% block cvplatform_body %}
    <h2>Messages laissés</h2>

{% if listMessagesSended|length == 0 %}
        <p>
        {% for message in app.session.flashbag.get('info') %}

        <p class="alert alert-info">{{ message }}</p> 
        {% endfor %}
    </p>

    {% else %}


    {% for messageSended in listMessagesSended %}

        <div class="well">
            <i>Message publié le {{ messageSended.date|date('d/m/Y à H:i:s') }}</>
            <li>Utilisateur : {{ messageSended.relatedUser }}</li>
            <li>Contenu : {{ messageSended.content }}</li>
        </div>
   	{% endfor %}

	<ul class="pagination">
	   {% for p in range(1, nbPages) %}
	       <li{% if p == page %} class="active"{% endif %}><a href="{{ path('cv_platform_private_messages_sended', {'page': p}) }}">{{ p }}</a></li>
	    {% endfor %}
  	</ul>
   {% endif %}   
{% endblock %}
