{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Supprimer une voiture | {{ parent() }}
{% endblock %}

{% block menu_lateral %}    
    {{ include("CVProfileBundle::menu.html.twig") }}
{% endblock %}

{% block cvplatform_body %}

  <h2>Supprimer une voiture</h2>

  <p>
    Etes-vous certain de vouloir supprimer cette voiture ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('cv_profile_delete_car', {'id': car.id}) }}" method="post">
    <a href="{{ path('cv_profile_view_car', {'id': car.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}