{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Modifier une voiture | {{ parent() }}
{% endblock %}

{% block menu_lateral %}    
    {{ include("CVProfileBundle::menu.html.twig") }}
{% endblock %}

{% block cvplatform_body %}
    <div class="container">
        <div class="col-md-3">
            {{ include("CVProfileBundle::menu.html.twig") }}
        </div>
        <div class="col-md-9">
            <p>
                {% for message in app.session.flashbag.get('notice') %}
                    <p class="alert alert-success">{{ message }}</p> 
                {% endfor %}
            </p>

            <h3 class="sub-title">Votre voiture</h3>
            <hr>
            {{ include("CVProfileBundle:Car:form.html.twig") }}
            <div class="nav">
                <a href="{{ path('cv_profile_my_cars') }}" class="cv">← Précédent</a>
            </div>
        </div>
    </div>

{% endblock %}
