
            <div class="well well-sm">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <fieldset>
                        <div class="form-group">
                            {{ form_label(form.mark, "Marque", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.mark) }}
                            <div class="col-md-9">{{ form_widget(form.mark, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.model, "Modele", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.model) }}
                            <div class="col-md-9">{{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.yearCommissionning, "Année de mise en service", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.yearCommissionning) }}
                            <div class="col-md-9">{{ form_widget(form.yearCommissionning, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.comfort, "Confort", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.comfort) }}
                            <div class="col-md-9">{{ form_widget(form.comfort, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>
    
                        <div class="form-group">
                            {{ form_label(form.numberPlace, "Nombre de place", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.numberPlace) }}
                            <div class="col-md-9">{{ form_widget(form.numberPlace, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.color, "Couleur", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.color) }}
                            <div class="col-md-9">{{ form_widget(form.color, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.category, "Catégorie", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            {{ form_errors(form.category) }}
                            <div class="col-md-9">{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}</div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.image.file, "Photo", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            <div class="col-md-9">{{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}</div>
                            <div class="col-md-3"></div>
                            <div class="col-md-9"> {{ form_errors(form.image.file) }}</div>
                        </div>
                        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
                    </fieldset>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>


 
