{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes voitures - {{ parent() }}
{% endblock %}

{% block menu_lateral %}    
    {{ include("CVProfileBundle::menu.html.twig") }}
{% endblock %}

{% block cvplatform_body %}
    <h2>Liste de mes voitures</h2>

    <p>
        {% for message in app.session.flashbag.get('notice') %}

        <p class="alert alert-success">{{ message }}</p> 
        {% endfor %}
    </p>

    {% for car in cars %}
        <div class="well">

            <li>Marque : {{ car.mark }}</li>
            <li>Modele : {{ car.model }}</li>


            <p>
                <a href="{{ path('cv_profile_view_car', {'id': car.id   }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>Voir détails</a>
            </p>
        </div>
    {% endfor %}

    <ul class="pagination">
        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ path('cv_profile_my_cars', {'page': p}) }}">{{ p }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
