{% extends "CVUserBundle::layout.html.twig" %}
{% block body %}
  
 <div class="well well-sm">                                                                         
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <fieldset>
                      <legend class="text-center">Inscription</legend>

                      <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                        <div class="form-group">
                            {{ form_label(form.username, "Nom du compte", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            <div class="col-md-9">{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}</div>
                            <div class="col-md-3"></div>
                       <div class="col-md-9"> {{ form_errors(form.username) }}</div>
                            </div>

                        <div class="form-group">
                            {{ form_label(form.email, "Adresse email", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            <div class="col-md-9">{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</div>
                            <div class="col-md-3"></div>
                       <div class="col-md-9"> {{ form_errors(form.email) }}</div>
                            </div>

                       <div class="form-group">
                            {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            <div class="col-md-9">{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}</div>
                            <div class="col-md-3"></div>
                       <div class="col-md-9"> {{ form_errors(form.plainPassword.first) }}</div>
                            </div>

                       <div class="form-group">
                            {{ form_label(form.plainPassword.second, "Confirmation du mot de passe", {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                            <div class="col-md-9">{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}</div>
                            <div class="col-md-3"></div>
                       <div class="col-md-9"> {{ form_errors(form.plainPassword.second) }}</div>
                            </div>
      
     <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                    
                    </fieldset>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
{% endblock %}


