<ul class="nav nav-tabs nav-stacked profile-menu">
    <li class="profile-header-menu">Profil</li>
    <li {% if app.request.attributes.get('_route') == 'cv_profile_edit' %}class="active"{% endif %}>
        <a href="{{ path('cv_profile_edit') }}">Informations personnelles</a>
    </li>
    <li>
        <a href="{{ path('cv_profile_edit_preference') }}">Préférences</a>
    </li>
    <li {% if app.request.attributes.get('_route') == 'cv_profile_my_cars' or app.request.attributes.get('_route') == 'cv_profile_add_car' or app.request.attributes.get('_route') == 'cv_profile_edit_car' %}class="active"{% endif %}>
        <a href="{{ path('cv_profile_my_cars') }}">Véhicule</a>
    </li>
    <li>
        <a href="">Adresse postale</a>
    </li>
</ul>

<ul class="nav nav-tabs nav-stacked profile-menu">
    <li class="profile-header-menu">Avis</li>
    <li>
        <a href="{{ path('cv_platform_ratings_received') }}">Avis reçus</a>
    </li>
    <li>
        <a href="{{ path('cv_platform_ratings_sended') }}">Avis laissés</a>
    </li>
</ul>

<ul class="nav nav-tabs nav-stacked profile-menu">
    <li class="profile-header-menu">Compte</li>
    <li>
        <a href="{{ path('fos_user_change_password') }}">Mot de passe</a>
    </li>
</ul>
<div id="show_profil_public" class="text-center">
    <a href="{{ path('cv_profile_view', {'id': app.security.getToken().getUser().getId() } ) }}" class="cv"><button class="cv-btn-primary">Visualiser le profil public</button></a>
</div>