{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
	Profil de {{profile.user}} | {{ parent() }}
{% endblock %}
		
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'@CVProfileBundle/Resources/public/css/block_left.css' 
		'@CVPlatformBundle/Resources/public/css/dialog.css' 
		'@CVProfileBundle/Resources/public/css/evaluations.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}
		
{% block cvplatform_body %}
	<p>
		{% for message in app.session.flashbag.get('notice') %}
			<p class="alert alert-success">{{ message }}</p> 
		{% endfor %}
	</p>
	<div id="profile-panel" class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>
						<div class="title">Activité</div>
						<div class="info-label">
							<div>Annonces publiées : </div>
						</div>
						<div class="info-label">
							<div>Dernière connexion : {{ profile.user.lastLogin | date('d/m/Y') }}</div>
						</div>
						<div class="info-label">
							<div>Membre depuis : {{ profile.user.dateRegistration | date('d/m/Y') }}</div>
						</div>
						<hr>
					</div>
					<div>
						<div class="title">Véhicule</div>
						{% for car in profile.getCar() %}
							<div class="info-label">{{ car.mark|e }} {{ car.model|e }}</div>
							<div class="info-label">Couleur : {{ car.color }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div id="user-picture-profile" class="col-md-2">
					{{ render(controller('CVProfileBundle:Profile:picture', {'thumb': 'my_picture_profile_medium', 'user': profile.user})) }} 
				</div>
				<div class="col-md-10">
					<div id="user-firstname-profile">{{ profile.firstName }} {{ profile.name[:1] }}</div>
					<div class="pull-right">
						<a href="{{ path('cv_platform_add_private_message', {'id': profile.user.id }) }}" class="cv-btn-primary"><i class="glyphicon glyphicon-send"></i>Envoyer un message</a>
					</div>
					<div id="user-age-profile">{{ profile.age }} ans</div>
				</div>
			</div>
			<div id="user-details-profile">
				<div class="row">
					<div class="info-label col-md-3">
						Expérience :
					</div>
					<div class="col-md-9">
						{% if profile.level == 1 %}
							Débutant
						{% elseif profile.level == 2 %}
							Habitué
						{% elseif profile.level == 3 %}
							Confirmé
						{% elseif profile.level == 4 %}
							Expert
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="info-label col-md-3">
						Avis moyen :
					</div>
					<div class="col-md-9">
						<span class="glyphicon glyphicon-star"></span> {{ render(controller('CVPlatformBundle:Rating:avgEvaluationsOfUser', {'user': profile.user}))|round(1, 'floor') }}/5 <span class="info-label">- {{ listRatingsReceived|length }} avis</span>
					</div>
				</div>
				<div class="row">
					<div class="info-label col-md-3">
						Mes préférences :
					</div>
					<div class="col-md-9">
						<span class="{% if profile.getPreference().getDiscussion() == 1 %}blablabla{% else %}blabla{% endif %} prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
						<span class="{% if profile.getPreference().getCigarette() == 1 %}smoking{% else %}no-smoking{% endif %} prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
						<span class="{% if profile.getPreference().getAnimal() == 1 %}pet{% else %}no-pet{% endif %} prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
						<span class="{% if profile.getPreference().getMusic() == 1 %}music{% else %}no-music{% endif %} prefs tip" style="background-image:url('{{ asset('bundles/cvplatform/img/sprite-prefs.png') }}')"></span>
					</div>
				</div>
				<div id="user-bio-profile">
					<div id="user-bio-title-profile">En quelques mots...</div>
					“{{ profile.biography }}”
				</div>
				<div id="synthesis-rating" class="panel panel-default">
		            <div class="panel-body">
		                <div class="col-md-6">
		                    <h4>Synthèse des avis reçus</h4>
		                    <span class="glyphicon glyphicon-star"></span> {{ render(controller('CVPlatformBundle:Rating:avgEvaluations'))|round(1, 'floor') }}/5 <span class="info-label">- {{ listRatingsReceived|length }} avis</span><br>
		                    Conduite : {{ render(controller('CVPlatformBundle:Rating:avgDriving'))|round(1, 'floor') }}/3           
		                </div>
		                <div class="col-md-6">
		                    <div class="pull-right">
		                        <div class="row">
		                            <div class="label-evaluation col-md-4"><span class="pull-right">Parfait</span></div>
		                            <div class="col-md-7">
		                                <div class="progress">
		                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ countEvaluation5*100/totalEvaluation }}%" aria-valuenow="{{ countEvaluation5*100/totalEvaluation }}" aria-valuemin="0" aria-valuemax="100"></div>
		                                </div>
		                            </div>
		                            <div class="col-md-1 count-evaluation">{{ countEvaluation5 }}</div>
		                        </div>
		                        <div class="row">
		                            <div class="label-evaluation col-md-4"><span class="pull-right">Très bien</span></div>
		                            <div class="col-md-7">
		                                <div class="progress">
		                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ countEvaluation4*100/totalEvaluation }}%" aria-valuenow="{{ countEvaluation4*100/totalEvaluation }}" aria-valuemin="0" aria-valuemax="100"></div>
		                                </div>
		                            </div>
		                            <div class="col-md-1 count-evaluation">{{ countEvaluation4 }}</div>
		                        </div>
		                        <div class="row">
		                            <div class="label-evaluation col-md-4"><span class="pull-right">Bien</span></div>
		                            <div class="col-md-7">
		                                <div class="progress">
		                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ countEvaluation3*100/totalEvaluation }}%" aria-valuenow="{{ countEvaluation3*100/totalEvaluation }}" aria-valuemin="0" aria-valuemax="100"></div>
		                                </div>
		                            </div>
		                            <div class="col-md-1 count-evaluation">{{ countEvaluation3 }}</div>
		                        </div>
		                        <div class="row">
		                            <div class="label-evaluation col-md-4"><span class="pull-right">Décevant</span></div>
		                            <div class="col-md-7">
		                                <div class="progress">
		                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ countEvaluation2*100/totalEvaluation }}%" aria-valuenow="{{ countEvaluation2*100/totalEvaluation }}" aria-valuemin="0" aria-valuemax="100"></div>
		                                </div>
		                            </div>
		                            <div class="col-md-1 count-evaluation">{{ countEvaluation2 }}</div>
		                        </div>
		                        <div class="row">
		                            <div class="label-evaluation col-md-4"><span class="pull-right">À éviter</span></div>
		                            <div class="col-md-7">
		                                <div class="progress">
		                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ countEvaluation1*100/totalEvaluation }}%" aria-valuenow="{{ countEvaluation1*100/totalEvaluation }}" aria-valuemin="0" aria-valuemax="100"></div>
		                                </div>
		                            </div>
		                            <div class="col-md-1 count-evaluation">{{ countEvaluation1 }}</div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="list-messages-profile">
		            {% for ratingReceived in listRatingsReceived %}
		                <div class="row">
		                    <div class="col-md-1">
		                        <a href="{{ path('cv_profile_view', {'id': ratingReceived.user.id }) }}">
		                            {{ render(controller('CVProfileBundle:Profile:picture', {'thumb': 'my_picture_navbartop_small', 'user': ratingReceived.user})) }} 
		                        </a>
		                    </div>
		                    <div class="col-md-11 username-message">
		                    	{% if ratingReceived.evaluation == 1 %}
		                            <div class="evaluation-label rating-grade--0">A éviter</div>
		                        {% elseif ratingReceived.evaluation == 2 %}
		                            <div class="evaluation-label rating-grade--1">Décevant</div>
		                        {% elseif ratingReceived.evaluation == 3 %}
		                            <div class="evaluation-label rating-grade--2">Bien</div>
		                        {% elseif ratingReceived.evaluation == 4 %}
		                            <div class="evaluation-label rating-grade--3">Excellent</div>
		                        {% else %}
		                            <div class="evaluation-label rating-grade--4">Extraordinaire</div>
		                        {% endif %}
		                        <div class="content-message">
			                        {{ ratingReceived.user.profile.firstname }} {{ ratingReceived.user.profile.name[:1] }} : 
			                        {{ ratingReceived.description }}
			                    </div>
			                    <div class="date-message">
			                        {{ ratingReceived.date|date('d/m/Y') }}
			                    </div>
		                    </div>
		                </div>
		            {% endfor %}
		        </div>
			</div>
		</div>
	</div>
{% endblock %}
