{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Votre profil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {% stylesheets 
    	'@CVProfileBundle/Resources/public/css/block_left.css' 
    	'@CVPlatformBundle/Resources/public/css/ratings.css' 
    	'@CVProfileBundle/Resources/public/css/evaluations.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block menu_lateral %}  
	<div id="body" class="container">
	    <div class="plan">
	        <div class="data_profile">
	            <h4>Activité</h4>
	            <i class="glyphicon glyphicon-time"></i> Dernière connexion : {{ profile.user.lastLogin | date('d/m/Y') }}</br>
	            <i class="glyphicon glyphicon-calendar"></i> Date d'inscription : {{ profile.user.dateRegistration | date('d/m/Y') }}
	        </div>
	      	<ul class="data_profile">
	        	<li class="plan-feature">
		            <h4>Voiture</h4>
		         
	        	</li>
	      	</ul>
	    </div>
	</div>
{% endblock %}

{% block cvplatform_body %}
	<div class="container" style="padding-top:20px;">
	    <div class="row">
	        <div class="col-sm-2 col-md-2">
	            <img src="{{ profile.image.getWebPath() | imagine_filter('my_picture_profile_medium') }}" alt="" class="img-rounded img-responsive"/>
	        </div>
	        <div class="col-sm-4 col-md-4">
	            <blockquote>
	                <p>{{ profile.user.username }}</p>
					<p> 
						<i class="glyphicon glyphicon-envelope"></i> {{ profile.user.email }}<br /> 
<!-- 						<i class="glyphicon glyphicon-gift"></i> {{ profile.birthday | date('d/m/Y') }}
 -->	            	</p>
	            </blockquote>
	        </div>
	    </div>
	</div>

	<div class="container" style="padding-top:20px;">
	    <div class="row">
	        <div class="col-xs-12 col-md-6">
	            <div class="well well-sm" style="width:780px;">
	                <div class="row">
	                    <div class="col-xs-12 col-md-6 text-center">
	                        <h1 class="rating-num">{{ avgEvaluations }}</h1>
	                        <div class="rating">
	                        	{% for i in 1..5 %}
	                        		{% if i <= avgEvaluations|round %}
	                        			<span class="glyphicon glyphicon-star"></span>
	                        		{% else %}
	                        			<span class="glyphicon glyphicon-star-empty"></span>
	                        		{% endif %}	
								{% endfor %}
	                        </div>
	                        <div>
	                            <span class="glyphicon glyphicon-user"></span>
	                            {{ totalEvaluation }} total
	                        </div>
	                    </div>
	                    <div class="col-xs-12 col-md-6">
	                        <div class="row rating-desc">
	                            <div class="col-xs-3 col-md-3 text-right">
	                                <span class="glyphicon glyphicon-star"></span>5
	                            </div>
	                            <div class="col-xs-8 col-md-9">
	                                <div class="progress progress-striped">
	                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
	                                        aria-valuemin="0" aria-valuemax="100" style="width: {{ evaluation5ToPercent }}%">
	                                        <span class="sr-only">{{ evaluation5ToPercent }}%</span>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end 5 -->
	                            <div class="col-xs-3 col-md-3 text-right">
	                                <span class="glyphicon glyphicon-star"></span>4
	                            </div>
	                            <div class="col-xs-8 col-md-9">
	                                <div class="progress">
	                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
	                                        aria-valuemin="0" aria-valuemax="100" style="width: {{ evaluation4ToPercent }}%">
	                                        <span class="sr-only">{{ evaluation4ToPercent }}%</span>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end 4 -->
	                            <div class="col-xs-3 col-md-3 text-right">
	                                <span class="glyphicon glyphicon-star"></span>3
	                            </div>
	                            <div class="col-xs-8 col-md-9">
	                                <div class="progress">
	                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
	                                        aria-valuemin="0" aria-valuemax="100" style="width: {{ evaluation3ToPercent }}%">
	                                        <span class="sr-only">{{ evaluation3ToPercent }}%</span>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end 3 -->
	                            <div class="col-xs-3 col-md-3 text-right">
	                                <span class="glyphicon glyphicon-star"></span>2
	                            </div>
	                            <div class="col-xs-8 col-md-9">
	                                <div class="progress">
	                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
	                                        aria-valuemin="0" aria-valuemax="100" style="width: {{ evaluation2ToPercent }}%">
	                                        <span class="sr-only">{{ evaluation2ToPercent }}%</span>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end 2 -->
	                            <div class="col-xs-3 col-md-3 text-right">
	                                <span class="glyphicon glyphicon-star"></span>1
	                            </div>
	                            <div class="col-xs-8 col-md-9">
	                                <div class="progress">
	                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
	                                        aria-valuemin="0" aria-valuemax="100" style="width: {{ evaluation1ToPercent }}%">
	                                        <span class="sr-only">{{ evaluation1ToPercent }}%</span>
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- end 1 -->
	                        </div>
	                        <!-- end row -->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="container" style="padding:60px;">
  		<div class="row">
			<div class="col-md-8">
				<section class="comment-list">
					{% for ratingReceived in listRatingsReceived %}
						{% include 'CVPlatformBundle:Rating:view.html.twig' with {'ratingReceived': ratingReceived} %}
    				{% endfor %}
				</section>
			</div>
		</div>
	</div>
{% endblock %}
