{# src/CV/PlatformBundle/Resources/views/Test/request_rides_filtered.html.twig #}
{% extends "CVPlatformBundle:Test:test_requests.html.twig" %}

{% block body %}
	<h3>Annonces</h3>
	<h4>Annonces à venir d'un utilisateur</h4>
	<hr>
	<ul>
  		{% for ride in list_rides %}
    		<li>{{ ride.user }}</li>
    		<li>{{ ride.departure }}</li>
    		<li>{{ ride.arrival }}</li>
    		<li>{{ ride.price }}</li>
    		<li>{{ ride.numberPassenger }}</li>
    		<li>{{ ride.details }}</li>
    		<li>{{ ride.state }}</li>
  		{% endfor %}
	</ul>
		
{% endblock %}
            