{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Editer votre profil - {{ parent() }}
{% endblock %}

{% block menu_lateral %}    
    {{ include("CVProfileBundle:Profile:menu.html.twig") }}
{% endblock %}

{% block cvplatform_body %}
    <h2>Editer votre profil</h2>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.name) }}

                <div class="col-sm-4">{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}</div>
            </div>

            <div class="form-group">
                {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.firstName) }}

                <div class="col-sm-4">{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}</div>
            </div>
    
            {{ form_row(form.age) }}
                <div class="form-group">
                    {{ form_label(form.biography, "Biographie", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.biography) }}

                    <div class="col-sm-4">{{ form_widget(form.biography, {'attr': {'class': 'form-control'}}) }}</div>
                </div>

                <div class="form-group">
                    {{ form_label(form.picture, "Photo", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.picture) }}

                    <div class="col-sm-4">{{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}</div>
                </div>

            {{ form_row(form.birthday) }}

                <div class="form-group">
                    {{ form_label(form.phone, "Téléphone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.phone) }}

                    <div class="col-sm-4">{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}</div>
                </div>

            {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
