<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<ul class="nav nav-pills nav-stacked">
    <div class="form-login"> 
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="text" id="username" class="form-control input-sm chat-input" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/></br>
            <input type="password" id="password"   class="form-control input-sm chat-input" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"     /></br>
            <div class="wrapper">
                <span class="group-btn">     
                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-md">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}<i class="fa fa-sign-in"></i></button>
                </span>
            </div>
        </form>
    </div>
</ul>

