{% extends "CVUserBundle::layout.html.twig" %}
{% block body %}

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   
    {% if error %}
        <p class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</p> 
    {% endif %}
    <center class="big-title"><h2 class="cv">Renseignez vos identifiants</h2></center>
    <div class="col-md-3"></div>
    <div class="container col-md-6">
        <div class="row">
            <div class="main">
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                    <div class="form-group">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <input type="text" id="username" class="cv form-control input-sm chat-input" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/></br>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password"   class="cv form-control input-sm chat-input" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"     /></br>
                    </div>
                    <center><button id="_submit" name="_submit" type="submit" class="cv-btn-primary">
                        {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                    </button></center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}