{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Réservation | {{ parent() }}
{% endblock %}

{% block cvplatform_body %}
    {% stylesheets 
        'css/sweetalert.css' 
        '@CVPlatformBundle/Resources/public/css/dialog.css'
        '@CVPlatformBundle/Resources/public/css/button.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <div id="booking" class="container">
        <div class="nav">
            <a href="{{ path('cv_platform_home') }}" class="cv">← Retour à la liste</a>
        </div>
        <div class="panel panel-default">
            <div class="cv panel-heading">Votre réservation</div>
            <div class="panel-body">
                <div id="detail-booking" class="panel panel-default">
                    <div class="panel-heading">
                        {{ride.departure}} → {{ride.arrival}}
                        <div class="pull-right"><a href="{{ path('cv_platform_view', {'id': ride.id   }) }}" class="cv">Voir l'annonce</a></div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-9">
                            <div class="row">
                                <span class="info-label col-md-3">Lieu de départ</span>
                                <span class="cv col-md-9"><img class="icon-departure" src="{{ asset('icon/departure.png') }}"></img> {{ ride.departure }}</span>
                            </div>
                            <div class="row">
                                <span class="info-label col-md-3">Lieu d'arrivée</span>
                                <span class="cv col-md-9"><img class="icon-arrival" src="{{ asset('icon/arrival.png') }}"></img> {{ ride.arrival }}</span>
                            </div>
                            <div class="row">
                                <span class="info-label col-md-3">Date de départ</span>
                                <span class="cv col-md-9"><i class="fa fa-calendar" aria-hidden="true"></i>  {{ ride.departureDate|localizeddate('medium', 'none', 'fr') }} à {{ ride.departureDate|localizeddate('none', 'medium', 'fr') }}</span>
                            </div>
                            <div class="row">
                                <span class="info-label col-md-3">Places</span>
                                <span class="cv col-md-9">{{ numberOfPlacesBooked }} place(s) réservée(s)</span>
                            </div>
                            <div class="row">
                                <span class="info-label col-md-3">Montant</span>
                                <span class="cv col-md-9">{{ ride.price }} €</span>
                            </div>
                        </div>
                        <div id="details-ride" class="col-md-3">
                            <div class="label-ride">Description du trajet</div>
                            <div>“{{ ride.details }}”</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="conduteur-booking" class="panel panel-default">
                            <div class="panel-heading">Conducteur</div>
                            <div class="panel-body">
                                <div class="info-user row">
                                    <div class="col-md-2">
                                        {{ render(controller('CVProfileBundle:Profile:picture', {'thumb': 'my_picture_navbartop_small', 'user': ride.user})) }}
                                    </div>
                                    <div class="col-md-4">
                                        <a href="{{ path('cv_profile_view', {'id': ride.user.id   }) }}">
                                            <span class="cv">{{ ride.user.getUsername() }} ({{ ride.user.getProfile().getAge() }} ans)</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="car-booking" class="panel panel-default">
                            <div class="panel-heading">Véhicule</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="public-messages-booking" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Questions posées</div>
                    <div class="panel-body">
                        <section id="messages" class="messages comment-list">
                            {% for publicMessage in listPublicMessagesOfRide %}
                                {% include 'CVPlatformBundle:PublicMessage:view.html.twig' %}
                            {% endfor %}
                        </section>
                        <textarea id="contentT" rows="5" cols="94" placeholder="Posez vos questions ou réponses ici."></textarea><br/>
                        <div id="container-publish-btn">
                            <button id="publish" class="cv-btn-primary pull-right" type="button">Publier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'js/sweetalert.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript"> // Commentaires
        $("#publish").on("click", addPublicMessage);
        function addPublicMessage(){
            var content = 'content='+document.getElementById('contentT').value;
            $.ajax({
                url: "{{ path('cv_platform_add_public_message', {'ride': ride.id}) }}",
                data: content,
                success: addingPublicMessage
            }); 
        }
        function addingPublicMessage(data) {
            $("#messages").append(data);
            document.getElementById('contentT').value="";
        }
    </script>
{% endblock %}