<tr id="notif_{{ratingNotification.id}}">
	<td class="col-md-8">
		{{ ratingNotification.relateduser }}
	</td>
	<td><a href="{{ path('cv_platform_leave_rating', {'id': ratingNotification.id }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Laisser un avis</a></td>
	<td><a id="{{ratingNotification.id}}" class="deleteNotificationRating"><img src="{{ asset('icon/delete.png') }}"></img></a></td>
</tr> 