{% extends "CVPlatformBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <hr>

    {% block cvplatform_body %}
        {% stylesheets 'css/jquery.datetimepicker.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        </br>

        <div class="well well-sm">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <fieldset>
                    <legend class="text-center"><h2>Trouver votre covoiturage</h2><a id="swap"><i class="glyphicon glyphicon-transfer"></i></a></legend>
                    <div class="input-group">
                        <div class="input-group-addon"><img src="{{ asset('icon/departure.png') }}"></img></div>
                        {{ form_widget(form.departure, {'attr': {'class': 'form-control', 'style': 'width:250px', 'placeholder': 'De' }}) }}
                        <div class="input-group-addon"><img src="{{ asset('icon/arrival.png') }}"></img></div>
                        {{ form_widget(form.arrival, {'attr': {'class': 'form-control', 'style': 'width:250px', 'placeholder': 'A' }}) }}
                        
                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                        {{ form_widget(form.departureDate, {'attr': {'class': 'form-control', 'style': 'width:160px'}}) }}
                    </div></br>
                    <center>{{ form_widget(form.rechercher, {'attr': {'class': 'btn btn-primary'}}) }}</center>
                </fieldset>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        <hr>
        <p><a href="{{ path('cv_platform_add') }}" class="btn btn-primary">Publier une annonce</a></p>
<!--         <div class="well well-sm" style="margin-top: 100px">
            {{ include("CVPlatformBundle::news.html.twig") }}  
        </div> -->
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    {% javascripts 
        'js/jquery.datetimepicker.js'
	    'js/autocompletion.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        initialize('{{ form.departure.vars.id }}', '{{ form.arrival.vars.id }}');
        $('#cv_platformbundle_ride_search_departureDate').datetimepicker({
            mask:'9999/19/39',
            format:'Y/m/d',    
            timepicker:false,
            formatDate:'Y/m/d',
            lang:'fr',
            minDate:new Date()
        });
        $( "#swap" ).click(function() {
            var tmp = $({{ form.departure.vars.id }}).val();
            $({{ form.departure.vars.id }}).val($({{ form.arrival.vars.id }}).val());
            $({{ form.arrival.vars.id }}).val(tmp);
        });

    </script>
{% endblock %}