{% extends "::layout.html.twig" %}

{% block title %}
    Le covoiturage simplifie vos trajets | {{ parent() }}
{% endblock %}

{% block body %}
    {% block cvplatform_body %}
        {% stylesheets 'css/jquery.datetimepicker.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        </br>

        <div class="well well-sm">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <fieldset>
                    <legend class="text-center"><h2>Trouver votre covoiturage</h2><a id="swap"><i class="cv glyphicon glyphicon-transfer"></i></a></legend>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3" style="left:40px;">
                            <div class="input-group">
                                <div class="input-group-addon"><img src="{{ asset('icon/departure.png') }}"></img></div>
                            {{ form_widget(form.departure, {'attr': {'class': 'form-control', 'style': 'width:200px;height:50px;', 'placeholder': 'Départ' }}) }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <div class="input-group-addon"><img src="{{ asset('icon/arrival.png') }}"></img></div>
                                {{ form_widget(form.arrival, {'attr': {'class': 'form-control', 'style': 'width:200px;height:50px;', 'placeholder': 'Destination' }}) }}
                            </div>
                        </div>
                        <div class="col-lg-2" style="right:40px;">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                                {{ form_widget(form.departureDate, {'attr': {'class': 'form-control', 'style': 'width:110px;height:50px;', 'placeholder': 'Date'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-3" style="right:75px;">
                        {{ form_widget(form.rechercher, {'attr': {'class': 'cv-btn-primary', 'style': 'width:181px;height:50px;'}}) }}
                        </div>
                    </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
<!--         <div class="well well-sm" style="margin-top: 100px">
            {{ include("CVPlatformBundle::news.html.twig") }}  
        </div> -->
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key={{ googleapis_key }}"></script>
    {% javascripts 
        'js/jquery.datetimepicker.js'
	    'js/autocompletion.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        initialize('{{ form.departure.vars.id }}', '{{ form.arrival.vars.id }}');
        $('#cv_platformbundle_ride_search_departureDate').datetimepicker({
            mask:'9999/19/39',
            format:'Y/m/d',    
            timepicker:false,
            formatDate:'Y/m/d',
            lang:'fr',
            minDate:new Date()
        });
        $( "#swap" ).click(function() {
            var tmp = $({{ form.departure.vars.id }}).val();
            $({{ form.departure.vars.id }}).val($({{ form.arrival.vars.id }}).val());
            $({{ form.arrival.vars.id }}).val(tmp);
        });

    </script>
{% endblock %}